body{
	background: rgb(215,215,215) scroll;
	background-size: 100%;
	margin: 0;
	width: 100%;
	min-width: 1024px;
	height: auto;
}
#all{
	width: 100%;
	height: auto;
	position: relative;
}
#header{
	width: 100%;
	height: 80px;
	position: fixed;
	background-color: black;
	z-index: 5;
}
#icon{
	position: absolute;
	left: 5%;
	top: 2px;
	height: 70px;
	transition: filter 0.4s;
}
#icon:hover{
	filter: brightness(1.5);
}
#menu{
	margin-left: -25%;
}
#menu ul{
	background: black;
	list-style-type: none;
	text-align: center;
	margin: 0;
}
#menu li{
	color: #f1f1f1;
	display: inline-block;
	width: 120px;
	height: 80px;
	line-height: 80px;
	margin-left: -5px;
}
#menu a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: color 0.6s, background-color 0.3s;
}
#menu a:hover{
	background: #f1f1f1;
	color: blue;
}
#searchBox{
	position: absolute;
	left: 57%;
	top: 25%;
	z-index: 1;
}
#searchBox input[type="text"]{
	width: 130px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
	padding: 12px 14px;
	transition: width 0.6s, background-color 0.6s;
}
#searchBox input[type="text"]:focus{
	width: 250px;
	background-color: rgb(235,235,235);
}
.hidden{
	display: none;
}
.button{
	background-color: rgb(255,255,255);
	border: none;
	outline: none;
	color: black;
	font-family: Arial;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	margin: 0 2px;
	cursor: pointer;
}
#searchBox .button{
	background-color: rgb(159, 255, 239);
	transition: background-color 0.4s, border 0.4s;
}
#searchBox .button:hover{
	background-color: white;
	border: 1px solid rgb(159, 255, 239);
}
#account{
	float: right;
	position: absolute;
	right: 4%;
	top: 25%;
	background-color: none;
}
#account .button{
	border-radius: 20px;
	background-color: green;
	color: white;
	transition: background-color 0.4s, color 0.4s;
}
#account .button:hover{
	background-color: white;
	color: black;
}
#account #name{
	display: inline-block;
	padding: 0 25px;
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	background-color: #f1f1f1;
}
#account #account_options{
	display: none;
	position: absolute;
	right: 0;
	background-color: #f1f1f1;
	min-width: 150px;
	box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
}
#account #account_options a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
#account #account_options a:hover{
	color: blue;
}
#account:hover #account_options{
	z-index: 9;
	display: block;
}
#content{
	background-color: white;
	position: absolute;
	width: 70%;
	min-height: 674px;
	height: auto;
	top: 80px;
	left: 13%;
}
#content .button{
	background-color: green;
	color: white;
}
#content .back{
	background-color: red;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 9; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	animation-name: fadeIn;
	animation-duration: 0.4s;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 8% auto; /* 8% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 33%;
	animation-name: slideIn;
	animation-duration: 0.4s;
}

/* Add Animation */
@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}
@keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: color 0.2s;
}
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* Style the tab buttons */
.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 7px 10px;
	font-size: 17px;
	width: 46%;
}

/* Change background color of buttons on hover */
.tablink:hover {
	background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
	color: black;
	display: none;
	padding: 50px;
	text-align: center;
}

/* Tabs background color */
#Login {background-color: white;}
#Signup {background-color: white;}
#modal .button{
	border-radius: 20px;
	color: white;
	background-color: green;
}
#modal input{
	width: 200px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
	padding: 3px 5px;
}
#modal input[type="radio"]{
	width: 10px;
}
* {box-sizing: border-box;}
.slides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	min-width: 800px;
	max-width: 900px;
	max-height: 400px;
	position: relative;
	margin: auto;
	z-index: 1;
}

/* Center image */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Caption text */
.text {
	position: absolute;
	margin-left: 10.5%;
	bottom: 0;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 79%;
	padding: 20px;
	/*text-align: center;*/
}

.text span{
	font-size: 22px;
	font-weight: bold;
	font-family: Arial;
}

/* The dots/bullets/indicators - display none to hide dots */
.dot:not (.except) {
	display: none;
}

.except{
	float: right;
	width: 50%;
	margin-right: 5%;
	margin-top: 50px;
	background-color: rgb(240,240,240);
}

.except .dot{
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.except .active, .dot:hover {
	background-color: #32CD32;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}
.alert {
	padding: 10px;
	background-color: #f44336;
	color: white;
	width: 100%;
	position: fixed;
	top: 80px;
	z-index: 2;
}

.alert.success{
	background-color: #4CAF50;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
.topic_title_movie{
	width: 65px;
	margin-left: 6%;
	padding-top: 30px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0);
	transition: border-bottom-color 0.3s;
}
.topic_title_movie:hover, .topic_title_news:hover{
	border-bottom-color: red;
}
.topic_title_movie h2{
	margin: 5px;
}
.movie_list{
	width: 100%;
	background-color: rgb(235,235,235);
}
.movie_list button{
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 6%;
}
.movie_list .movie, .news_list .news{
	margin: 1% 5%;
	padding: 10px 0;
}
.movie_list a, .news_list a{
	color: black;
	text-decoration: none;
}
.movie_list .movie .movie_holder, .news .news_holder{
	margin: 3% auto;
	padding: 5px;
	background-color: rgb(215,215,215);
}
.movie_list .movie .movie_holder:hover, .news .news_holder:hover{
	background-image: linear-gradient(to left, grey -35%, rgba(204,204,204,0));
	cursor: pointer;
}
.movie_list .movie .movie_holder img, .news .news_holder img{
	border-radius: 20px 0 0 20px;
	width: 22%;
	max-width: 220px;
	max-height: 128px;
}
.movie_list .movie .movie_holder .info, .news .news_holder .info{
	display: inline-block;
	vertical-align: bottom;
	width: 74%;
	margin-left: 2%;
}
.movie_list .movie .movie_holder .info p, h1{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.news .news_holder .info p, h1{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.movie_list .movie .movie_holder .info p, .news .news_holder .info p{
	line-height: 19px;
	-webkit-line-clamp: 1;
	height: 19px;
}
.movie_list .movie .movie_holder .info h1, .news .news_holder .info h1{
	line-height: 32px;
	-webkit-line-clamp: 1;
	height: 32px;
}
.topic_title_news{
	width: 85px;
	margin-left: 6%;
	padding-top: 30px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0);
	transition: border-bottom-color 0.3s;
}
.topic_title_news h2{
	margin: 5px;
}
.news_list{
	width: 100%;
}
/* Ticket */
.ticket{ 
	width: 400px;
	height: 600px;
	background-color: rgb(170, 170, 170);
	float: left;
	position: relative;
}
.ticket_hole{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}
.top_left{
	top: -25px;
	left: -30px;
	clip: rect(25px,50px,50px,30px);
}
.top_center{
	top: -25px;
	left: 43.75%;
	clip: rect(25px,50px,50px,0px);
}
.top_right{
	top: -25px;
	right: -30px;
	clip: rect(25px,20px,50px,0px);
}
.bottom_left{
	bottom: 80px;
	left: -25px;
	clip: rect(0px,50px,50px,25px);
}
.bottom_right{
	bottom: 80px;
	right: -25px;
	clip: rect(0px,25px,50px,0px);
}
.ticket .title{
	padding-top: 6%;
	padding-left: 10%;
	padding-right: 10%;
	height: 115px;
}
.ticket .title p {
	margin: 6px 0;
	font-family: Arial;
}
.ticket .title h3 {
	margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    -webkit-line-clamp: 2;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ticket .ticket_info{
	padding-top: 6%;
	border-bottom: dashed;
	height: 155px;
}
.ticket img {
	width: 100%;
	height: 225px;
}
.ticket table {
	margin-left: 10%;
	width: 80%;
}
.ticket_info table tr {
	height: 40px;
}
.ticket_info table tr .ticket_label {
	font-family: Arial;
}
.ticket_info table tr .ticket_details {
	font-size: 22px;
	font-weight: bold;
}
#barcode{
	width: 90%;
	height: 80px;
	padding-top: 18px;
}
/* Custom Select */
/* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: Lightgreen;
	width: 200px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #000 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #666 transparent;
	top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
	color: #000;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: Lightgreen;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
#content input{
	width: 200px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
	padding: 3px 5px;
}
#content input[type="radio"]{
	width: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Pagination links */
.pagination{
	width: 100%;
	text-align: center;
}

.pagination a {
	color: black;
	display: inline-block;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active_page {
	background-color: green;
	color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active_page) {
	background-color: #ddd;
}

.row {
  margin: 8px 16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .col {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.col {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(235,235,235);
  padding: 10px;
}
.col .content span, h2{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.col .content span{
	line-height: 19px;
	-webkit-line-clamp: 2;
	height: 38px;
}
.col .content h2{
	line-height: 32px;
	-webkit-line-clamp: 1;
	height: 32px;
}
.col .content img{
	width: 220px;
	height: 128px;
}
.col a{
	color: black;
	text-decoration: none;
}